@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Zen+Antique&display=swap');

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
}
:root {
  --blue: #14213d;
  --lightBlue: #1d3557;
  --verylightblue: #caf0f8;
}
nav {
  color: white;
  background-color: var(--blue);
  position: sticky;
  top: 0;
}
.cont {
  width: 100%;
  background-color: var(--blue);
  max-width: 1200px;
}
.main-heading,
.submit-btn {
  text-decoration: none;
  color: white;
}
:is(.main-heading, .submit-btn):hover {
  text-decoration: underline;
  color: white;
}
.welcome .container {
  height: 90vh;
}
.welcome-h1 {
  font-family: 'Zen Antique', serif;
}
.welcome-heading {
  font-size: 1.8em;
  color: var(--blue);
  font-weight: bold;
}
#intro-page {
  display: none;
}
#test-zone {
  display: none;
  max-height: 100vh;
  overflow-y: auto;
}
.btn {
  width: 140px;
}
.btn-primary {
  background-color: var(--lightBlue) !important;
}
.btn-secondary {
  background-color: rgb(235, 235, 235) !important;
  color: var(--blue) !important;
}
.progress,
.progress-bar {
  height: 2px;
}
.progress-bar {
  background-color: var(--blue) !important;
}
.page-nav-container {
  overflow-x: auto;
}
.page-link {
  border-color: rgb(235, 235, 235) !important;
}
.page-link {
  color: var(--blue) !important;
}
.active{
  background-color: var(--lightBlue) !important;
  color: white !important;
}
#question-section, #answer-section {
  max-height: 50vh;
  overflow-y: auto;
}
.question {
  font-weight: bold;
}
.button-section {
  column-gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.score-section {
  display: none;
}
.score-container {
  width: 200px;
  height: 200px;
  border: 5px solid var(--blue);
  border-radius: 100%;
  background-color: var(--verylightblue);
  color: var(--blue);
}
.btn-fill {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  color: white !important;
}
.btn-fill:hover {
  background-color: var(--lightBlue) !important;
}
.btn-outline {
  background-color: transparent;
  border-color: var(--blue) !important;
  color: var(--blue);
}
.btn-outline:hover {
  background-color: var(--lightBlue) !important;
  border-color: var(--lightBlue) !important;
  color: white !important;
}
.language {
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
}
.language-container {
  width: 150px;
  height: 150px;
  border: 5px solid var(--blue);
  border-radius: 100%;
  background-color: var(--verylightblue);
  color: var(--blue);
}
.submit-btn {
  display: none;
}
.option-container {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: rgb(235, 235, 235);
}
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#question-counter {
  display: inline;
  width: 50%;
}
#timer {
  display: inline;
  width: 50%;
  text-align: right;
  font-weight: bold;
}
.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}
.msg {
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  border: 3px solid var(--blue);
  color: black;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
